{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Переопределенное ядро бутсрапа-->
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <!-- Переопределенные шрифты бутстрапа-->
    <link rel="stylesheet" href="{{ asset('css/heading.css') }}">
    <link rel="stylesheet" href="{{ asset('css/body.css') }}">
{% endblock %}
{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img alt="Brand" src="{{ asset('img/logo.png') }}" height="45px"> Quick Dive</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                    type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i
                        class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                         href="#im">МОЯ РОЛЬ В КОМАНДЕ</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                         href="#docs">СОПУТСТВУЮЩИЕ ДОКУМЕНТЫ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading mb-0">ИНЖЕНЕР-ПРОГРАММИСТ</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">Отдел разработки и внедрения информационных систем</p>
        </div>
    </header>
{% endblock %}
{% block subjavascripts %}
    {{ parent() }}
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
