{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Переопределенное ядро бутсрапа-->
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <!-- Переопределенные шрифты бутстрапа-->
    <link rel="stylesheet" href="{{ asset('css/heading.css') }}">
    <link rel="stylesheet" href="{{ asset('css/body.css') }}">
    <style>
        #dropdownAcc {
            background: none;
            color: #4e5f68;
            text-align: left;
            font-weight: 700;
        }

        #dropdownAcc:active, #dropdownAcc:focus {
            border: none;
            background: none;
            outline: none;
            color: #135d82;
            background: #fff;
            border-radius: 0px !important;
        }

    </style>
{% endblock %}
{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-xl bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}">
                <img alt="Brand" src="{{ asset('img/logo.png') }}" height="45px"> Quick Dive</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                    type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Меню <i
                        class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                         href="#im">ОБЯЗАННОСТИ</a>

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                         href="#law">ПРАВА</a>

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                         href="#liability">ОТВЕТСТВЕННОСТЬ</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                         href="#addition">ДОПОЛНИТЕЛЬНЫЯ ИНФОРМАЦИЯ</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item mx-0 mx-lg-1 dropdown">
                            <button class="w-100 nav-link py-3 px-0 px-lg-3 rounded border-0" id="dropdownAcc"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fa fa-user"></i><span class="ml-3 d-xl-none">АККАУНТ</span></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownAcc">
                                <a class="dropdown-item" href="{{ path('logout') }}">Выйти</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                               href="{{ path('login') }}"><i class="fa fa-user"></i><span
                                        class="ml-3 d-xl-none">ВОЙТИ</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center background"
            style="background-image: url({{ asset('img/rosback8.jpg') }})">
        <div class="container d-flex align-items-center flex-column backtext">
            <h1 class="masthead-heading mb-0">ИНЖЕНЕР-ПРОГРАММИСТ</h1>
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">Краткая должностная инструкция</p>
        </div>
    </header>
    {% if boss is defined and boss is not null %}
        <section class="page-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12 mb-12">
                        <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                            Подчиняется {{ boss }}</h2>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="page-section" id="im">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                <div class="col-md-8 col-lg-8 mb-8 professional-description">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-center">Должностные
                        обязанности
                        <hr>
                    </h2>
                    <p>{{ doljnost }}</p>
                    <p><span data-toggle="modal" data-target="#modalDesctiptionIm" class="moreButton">Подробнее</span>
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 mb-4 d-flex align-items-center">
                    <div><img src="{{ asset('img/professional.jpg') }}" class="work-process"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="law">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-8 col-lg-8 mb-8 professional-description">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-center">Права
                        <hr>
                    </h2>
                    <p>{{ prava }}</p>
                    <div><span data-toggle="modal" data-target="#modalDesctiptionLaw"
                               class="moreButton">Подробнее</span></div>
                </div>
                <div class="col-md-4 col-lg-4 mb-4 d-flex align-items-center">
                    <img src="{{ asset('img/prava.jpg') }}" class="work-process">
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="liability">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8 mb-8 professional-description">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-center">Ответственность
                        <hr>
                    </h2>
                    <p>
                        {% for i in otvet %}
                            {{ i.item.name }}
                        {% endfor %}
                    </p>
                    <div><span data-toggle="modal" data-target="#modalDesctiptionLiability"
                               class="moreButton">Подробнее</span></div>
                </div>
                <div class="col-md-4 col-lg-4 mb-4 d-flex align-items-center">
                    <img src="{{ asset('img/law.jpg') }}" class="work-process">
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="addition">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</h2>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-4 col-lg-4 mb-4">
                    <div class="addition-item" data-toggle="modal" data-target="#modalAdditianalItem1">
                        <h2 class="title-addition-item">Должностная инструкция главного программиста</h2>
                    </div>
                </div>

                <div class="portfolio-modal modal fade" id="modalAdditianalItem1" tabindex="-1" role="dialog"
                     aria-labelledby="#modalAdditianalItem1Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"><i class="fas fa-times"></i></span></button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary mb-0">Главный
                                                программист</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Должностные обязанности
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Права
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Ответственность
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 mb-4">
                    <div class="addition-item">
                        <div class="addition-item" data-toggle="modal" data-target="#modalAdditianalItem2">
                            <h2 class="title-addition-item">Должностная инструкция WEB-Мастера</h2>
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="modalAdditianalItem2" tabindex="-1" role="dialog"
                     aria-labelledby="#modalAdditianalItem2Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"><i class="fas fa-times"></i></span></button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary mb-0">WEB-Мастер</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Должностные обязанности
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Права
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Ответственность
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 mb-4">
                    <div class="addition-item">
                        <div class="addition-item" data-toggle="modal" data-target="#modalAdditianalItem3">
                            <h2 class="title-addition-item">Должностная инструкция IT-Менеджера</h2>
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="modalAdditianalItem3" tabindex="-1" role="dialog"
                     aria-labelledby="#modalAdditianalItem3Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"><i class="fas fa-times"></i></span></button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary mb-0">IT-Менеджер</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Должностные обязанности
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Права
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>

                                            <h3 class="page-section-heading text-secondary mb-0 d-inline-block text-center">
                                                Ответственность
                                                <hr>
                                            </h3>
                                            <div class="" style="text-align: left; font-size: 1.2rem">
                                                <p>Разрабатывать программы, проводить их тестирование и отладку.</p>
                                                <p>Разрабатывать технологию решения задачи, осуществлять выбор языка
                                                    программирования.</p>
                                                <p>Определять информацию, ее объемы, структуру, макеты и схемы ввода,
                                                    обработки, хранения и вывода, методы ее контроля.</p>
                                                <p>Разрабатывает инструкции по работе с программами, оформляет
                                                    необходимую техническую документацию.</p>
                                                <p>Определяет возможность использования готовых программных
                                                    продуктов.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Modal-->
    <div class="portfolio-modal modal fade" id="modalDesctiptionIm" tabindex="-1" role="dialog"
         aria-labelledby="#modalDesctiptionImLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                                class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Должностные обязанности</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                </div>
                                <p class="mb-5 more-modal-text" style="text-align: left">
                                    {% for i in dolPol %}
                                        {{ i.item.name }}<br>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Portfolio Modal-->
    <div class="portfolio-modal modal fade" id="modalDesctiptionLaw" tabindex="-1" role="dialog"
         aria-labelledby="#modalDesctiptionLawLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                                class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <h2 class="portfolio-modal-title text-secondary mb-0">Права</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                </div>
                                <p class="mb-5 more-modal-text" style="text-align: left">
                                    {% for i in pravaPol %}
                                        {{ i.item.name }}<br>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="modalDesctiptionLiability" tabindex="-1" role="dialog"
         aria-labelledby="modalDesctiptionLiabilityLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                                class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Ответственность</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                </div>
                                <p class="mb-5 more-modal-text" style="text-align: left">
                                    {% for i in otvetPol %}
                                        {{ i.item.name }}<br>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">РАЗРАБОТКА</h4>
                    <p class="pre-wrap lead mb-0">2020 Exiting VIM г. Красноярск</p>

                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4"><a style="color: #fff; text-decoration: none" href="{{ path('archive_index') }}">БАЗА
                            ПОЛНЫХ ИНСТРУКЦИЙ</a></h4>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="mb-4">О ПРОДУКТЕ</h4>
                    <p class="pre-wrap lead mb-0">Интеллектуальная система для автоматической генерации одностраничных
                        инструкций</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block subjavascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/fontawesome-free-5.5.0-web/js/all.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
